@using BOL

@{
    Movie m = ViewBag.Movie;
}

@{
    <table>
    <tr>
    <td>Id</td>
    <td>@m.mId</td>
    </tr>
        <tr>
            <td>name</td>
            <td>@m.mName</td>
        </tr>
        <tr>
            <td>desc</td>
            <td>@m.mDescription</td>
        </tr>
        <tr>
            <td>director id</td>
            <td>@m.mDirectorID</td>
        </tr>
        <tr>
            <td>cast</td>
            <td>@m.cast</td>
        </tr>
        <tr>
            <td>duration</td>
            <td>@m.mins</td>
        </tr>
    </table>
}